<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM</title>
    <link rel="stylesheet" href="css/form.css">
    <script src="https://use.fontawesome.com/98000a15f8.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="icon" href="https://i.pinimg.com/originals/c2/72/3a/c2723a0519d5ea309c746d40635e09c5.png">
</head>
<body>
    <div class="wrapper fadeInDown container">
        <div id="formContent">
            <div class="form-content jumbotron centered">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <br><br>
                        <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
                        <br>
                    </div>
                </div>
                </div>
                <p>&copy;Charanmurugan 2021 </p>
        </div>
       
      </div>
</body>
</html>

