<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://use.fontawesome.com/98000a15f8.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-social.css">
<link rel="stylesheet" href="css/form.css">
<link rel="icon" href="https://i.pinimg.com/originals/c2/72/3a/c2723a0519d5ea309c746d40635e09c5.png">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <a href="https://github.com/FortAwesome/Font-Awesome"></a><i class="fa fa-user fa-5x" aria-hidden="true"></i>          </div>
      
          <!-- Login Form -->
          <form action="/login" method="POST">
            <input type="email" id="login" class="fadeIn second" name="username" placeholder="Email" autocomplete="off">
            <input type="password" id="password" class="fadeIn third" name="psw" placeholder="password" autocomplete="off">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
          <p>or</p>
          <div>
            <a href="/auth/google" class="btn btn-block btn-social btn-google" role="button"><i class="fa fa-google " aria-hidden="true"></i>log in with Google</a>
            <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook" role="button"><i class="fa fa-facebook " aria-hidden="true"></i>log in with FB</a>
          </div>
      
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>

      
        </div>
      </div>
      
</body>
</html>