<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM</title>
    <link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="css/bootstrap-social.css">
    <script src="https://use.fontawesome.com/98000a15f8.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="icon" href="https://i.pinimg.com/originals/c2/72/3a/c2723a0519d5ea309c746d40635e09c5.png">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <%usersWithSecrets.forEach(function(user){%>
                <p class="secret-text"><%=user.secret%></p>
                <%})%>
        </div>
        <a class="btn btn-block btn-social" href="/submit" role="button">Submit a Secret</a>
        <a href="/logout" class="btn btn-block btn-social" role="button">logout</a>  
    </div>

</body>
</html>